type project
owners
    pocketberserker
authors
    pocketberserker
projectUrl
    https://github.com/pocketberserker/FSharp.Automaton
licenseUrl
    https://github.com/pocketberserker/FSharp.Automaton/blob/master/LICENSE
requireLicenseAcceptance
    false
tags
    fsharp F# FRP arrow
description
    Arrowized FRP for F#.
